.container{
    background-color: rgb(222, 238, 193);
    display: flex;
    padding: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    }

    h1{
        text-align: center;
    }

 div{
    padding: 5rem;
 }

.trunk{
    background-color: rgb(184, 196, 196);
    display: grid;
    padding: 3rem;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}

